*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
body{
    font-family: cursive;
}
.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
    font-size: 20px;
}
nav ul{
    display:inline-block;
    list-style-type:none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;   
}

/*--------Logo----------*/

.logo img{
    cursor: pointer;
}

a{
    text-decoration: none;
    color:#555
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
}
.container img{
    cursor: pointer;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    cursor:auto;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background-color: #563435;
}
.header{
    width: 100%;
    height: 100vh;
        color: #fff;
        background: linear-gradient(-45deg, #EE7752, #E73C7E ,#23A6D5,#23D5AB);
        background-size: 400%,400%;
        position: relative;
        animation: change 15s ease-in-out infinite;
        
}

h1{
    font-family: fantasy;
}
.header .row{
    margin-top: 80px;
}
.col-3{
    flex-basis: 20px;
    min-width: 350px;
    min-height: 350px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.col-3 img{
    width: 100%;
    min-width: 200px;
    min-height: 300px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.container-2{
    max-width: 1280px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s
}
.col-4 img{
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    min-width: 300px;
    min-height: 210px;
    cursor: pointer;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating{
    color: #ff523b
}
.col-4:hover{
    transform: translateY(-20px);
}

/*--------Offer----------*/

.offer{
    background: radial-gradient(#fff,#ffd6d6);
        padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
h2{
    color: #555;
}
/*-------Quotes---------*/
.quote{
    padding-top: 100px;
}
.quote .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.quote .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.quote .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 40px;
    color: #ff523b;
}
.col-3 p{
    margin: 12px 0;
    color: #777;
}
.quote .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px; 
}

/*------Brands--------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*------Footer---------*/

.footer{
    color: #fff;
    background: #000;
    margin-top: 80px;
    font-size: 14px;
    padding: 60px 0 20px;
}
.container-footer{
    margin-left: 25px;
    margin-right: 25px;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,  .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-1 p{
    color: #fff;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 p{
    color: #fff;
}
.footer-col-2 img{
    width: 300px;
    margin-bottom: 20px;
    color: #fff;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer-col-4{
    text-align: right;
}
.footer-col-4 ul{
    display:inline-block;
    list-style-type: square;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
    cursor: pointer;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    margin-left: 25px;
    text-align: center;
}

.rotate {
    animation: rotation 34s infinite linear;
    width: auto;
    padding: auto;
    height: auto;
}
    @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

/*-----Contact Us------*/

.contact{
    position: relative;
    min-height: 100vh;
    padding-top: 50px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg, #EE7752, #E73C7E ,#23A6D5,#23D5AB);
    background-size: 400%,400%;
    position: relative;
    animation: change 15s ease-in-out infinite;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;

}
.container-10{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-10 .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container-10 .contact-info .box{
    position: relative;
    padding:20px 0;
    display: flex;
}
.container-10 .contact-info .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    background: #fff;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container-10 .contact-info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container-10 .contact-info .box .text h3{
    font-weight: 500;
    color: #000;
}
.contactform{
    width: 40%;
    height: 50%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
form input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputBox form span{
    position: absolute;
    padding:5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}